In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('../csvs/all_canc.csv')

In [17]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,ape_id,canc_event_id,canc_event_time
0,0,0,0,0,0,0.0,0.0,ApeGang #1245,1476586960,2021-10-21T17:39:00.065954
1,1,1,1,1,1,1.0,0.0,ApeGang #2274,1476165074,2021-10-21T17:02:32.693088
2,2,2,2,2,2,2.0,0.0,ApeGang #5525,1475039701,2021-10-21T15:32:57.868196
3,3,3,3,3,3,3.0,0.0,ApeGang #4383,1475035417,2021-10-21T15:32:37.731280
4,4,4,4,4,4,4.0,0.0,ApeGang #3445,1475009819,2021-10-21T15:30:39.362266
...,...,...,...,...,...,...,...,...,...,...
9436,9436,9436,9436,9436,9436,0.0,NaN,ApeGang #747,1477149516,2021-10-21T18:24:17.284918
9437,9437,9437,9437,9437,9437,0.0,NaN,ApeGang #747,1477143044,2021-10-21T18:23:46.827421
9438,9438,9438,9438,9438,0,NaN,NaN,ApeGang #2465,1488523447,2021-10-22T09:17:28.853779
9439,9439,9439,9439,9439,0,NaN,NaN,ApeGang #2465,1488523554,2021-10-22T09:17:29.277298
9440,9440,9440,9440,9440,0,NaN,NaN,ApeGang #2465,1488508692,2021-10-22T09:16:20.502471

In [10]:
df[df.listing_event_id == 1344348325]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,ape_id,listing_event_id,listing_event_time,listing_price,auction_type,is_private,payment_token
5285,5285,5285,5285,5285,5285,5285.0,5285.0,0.0,ApeGang #5852,1344348325,2021-10-12T20:08:11.395839,0.83,dutch,False,ETH
5286,5286,5286,5286,5286,5286,5286.0,5286.0,0.0,ApeGang #5852,1344348325,2021-10-12T20:08:11.395839,0.83,dutch,False,ETH

In [9]:
df.sort_values('listing_event_time', ascending=False)

,Unnamed: 0,ape_id,listing_event_id,listing_event_time,listing_price
0,0,ApeGang #8753,1456038549,2021-10-20T08:39:00.511655,1.2000
1,0,ApeGang #8801,1456010132,2021-10-20T08:36:41.715155,1.1000
2,0,ApeGang #3364,1456001428,2021-10-20T08:35:59.854256,3.5000
3,0,ApeGang #8685,1455956952,2021-10-20T08:32:28.327295,0.7918
4,0,ApeGang #8685,1455781111,2021-10-20T08:18:16.463918,0.8000
...,...,...,...,...,...
9975,0,ApeGang #4477,1197104153,2021-10-01T22:46:56.615752,0.3400
9976,0,ApeGang #9875,1197045312,2021-10-01T22:40:09.747936,0.3766
9977,0,ApeGang #429,1197009357,2021-10-01T22:36:10.218474,0.4051
9978,0,ApeGang #9875,1196939663,2021-10-01T22:29:09.177177,0.3772
9979,0,ApeGang #429,1196911386,2021-10-01T22:25:59.901502,0.4051

In [7]:
df[df.ape_id == 'ApeGang #9273']

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ape_id,Clothes,Ears,Hat,Fur,Mouth,Eyes,listing_event_id,listing_event_time,listing_price
737,737,737,737,ApeGang #9273,Hotel Porter,NaN,Fireman,Brown,Nose Ring,Heart,1.441861e+09,2021-10-19 11:24:06.317005,0.85